# Kafka Settings:
KAFKA_BROKER_ADDRESSES=
APP_KAFKA_BROKER_ADDRESSES=

KAFKA_NODE_ID=
KAFKA_PROCESS_ROLES=
KAFKA_CONTROLLER_QUORUM_VOTERS=
KAFKA_LISTENERS=
KAFKA_ADVERTISED_LISTENERS=
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=
KAFKA_CONTROLLER_LISTENER_NAMES=
KAFKA_INTER_BROKER_LISTENER_NAME=
KAFKA_HEALTHCHECK_BOOTSTRAP_SERVER=
KAFKA_INIT_BOOTSTRAP_SERVER=
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=
KAFKA_ORDERS_TOPIC_PARTITIONS=
KAFKA_ORDERS_TOPIC_REPLICATION_FACTOR=

KAFKA_CLUSTERS_0_NAME=
KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=
KAFKA_UI_HOST_PORT=

# gRPC Settings:
GRPC_ORDERS_ADDRESS=
APP_GRPC_ORDERS_ADDRESS=

# App Settings:
APP_HOST_PORT=
APP_CONTAINER_PORT=
