# Kafka settings:
KAFKA_BROKER_ADDRESSES=
KAFKA_CONTROLLER_QUORUM_VOTERS=
KAFKA_LISTENERS=
KAFKA_ADVERTISED_LISTENERS=
KAFKA_HEALTHCHECK_BOOTSTRAP_SERVER=
KAFKA_INIT_BOOTSTRAP_SERVER=
KAFKA_CLUSTERS_0_NAME=
KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=
SERVER_PORT=

# gRPC server settings:
GRPC_ORDERS_ADDRESS=

# App settings:
APP_CONTAINER_PORT=
