# Kafka Settings:
KAFKA_BROKER_ADDRESSES=localhost:29092
APP_KAFKA_BROKER_ADDRESSES=kafka:9092

KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_LISTENERS=PLAINTEXT://:9092,PLAINTEXT_HOST://:29092,CONTROLLER://:9093
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_HEALTHCHECK_BOOTSTRAP_SERVER=localhost:9092
KAFKA_INIT_BOOTSTRAP_SERVER=kafka:9092
KAFKA_HOST_PORT=29092
KAFKA_HOST_LISTENER_PORT=29092
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_ORDERS_TOPIC_PARTITIONS=3
KAFKA_ORDERS_TOPIC_REPLICATION_FACTOR=1

KAFKA_CLUSTERS_0_NAME=local
KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
KAFKA_UI_HOST_PORT=8081

# gRPC Settings:
GRPC_ORDERS_ADDRESS=localhost:50051
APP_GRPC_ORDERS_ADDRESS=localhost:50051

# App Settings:
APP_HOST_PORT=8080
APP_CONTAINER_PORT=8080
